<div class="header__container">
  <div class="header__content">
    <div class="header">Check the weather</div>
    <h2 class="text">Chose your city</h2>

    <div class="header-form" id="my Dropdown">
      <div class="input__container" id="input">
        <input
          type="text"
          class="header-input"
          id="myInput"
          [ngModel]="userCity"
          (ngModelChange)="changeCity($event)"
        />
        <button
          (click)="getCityName()"
          class="input-button"
          [routerLink]="['/page-weather']"
        >
          <img src="assets/scope.png" class="input-button-scope" />
        </button>
      </div>
      <div class="container" id="container">
        <div
          class="option"
          *ngFor="let city of cities"
          (click)="onSelect(city.name)"
        >
          {{ city.name }}
        </div>
      </div>
    </div>
  </div>
</div>
