<div class="header__container">
  <div class="header__content">
    <div class="header">Check the weather</div>
    <h2 class="text">Chose your city</h2>

    <div class="header-form" id="my Dropdown">
      <div class="input__container">
        <input
          type="text"
          class="header-input"
          id="myInput"
          onkeyup="filterFunction()"
        />
        <button (click)="getCityName()" class="input-button">
          <img src="assets/scope.png" class="input-button-scope" />
        </button>
      </div>
      <div class="container">
        <div class="option">Moscow</div>
        <div class="option">New-York</div>
        <div class="option">Tokyo</div>
        <div class="option">Kiev</div>
      </div>
    </div>
  </div>
</div>
