div, h2, .weather-text
{
  font-family: Roboto;
  font-style: normal;
}

.weather__wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: none;
  height: 1080px;
  width: 100%;
  background-image: url(../img/forecast_back_summer.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.weather__wrapper-winter
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: none;
  height: 1080px;
  width: 100%;
  background-image: url(../img/forecast_back_winter.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.weather-container
{
  margin: 180px 0px 260px 160px;
  display: flex;
  flex-direction: column;
}



.weather-content
{
  margin-bottom: 150px;
  display: flex;
  align-items: center;
}

.wind
{
  width: 120px;
  height: 90px;
  background: url(../img/wind.png);
}

.temperature
{
  width: 120px;
  height: 90px;
  background: url(../img/temperature.png);
}

.precipitation
{
  width: 120px;
  height: 90px;
  background: url(../img/rain.png);
}

.weather-image
{
  background-size: contain;
  background-repeat: no-repeat;
}

.weather-text
{
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #575757;
}

#temperature, #precipitation, #wind
{
  margin-left: 3px;
  margin-top: 1px;
}

.loader-container
{
  display: flex;
  justify-content: center;
}