<div
  class="weather__wrapper"
  [ngClass]="{
    weather__wrapper: temperature == 'summer',
    'weather__wrapper-winter': temperature == 'winter'
  }"
>
  <div class="loader-container" *ngIf="!hasForecast">
    Происходит загрузка...
  </div>
  <div
    class="weather-container sunny"
    *ngIf="hasForecast"
    [ngClass]="{
      'weather-container-sunny': humidity == 'sunny',
      'weather-container-sunny-clouds': humidity == 'sunny_clouds',
      'weather-container-clouds': humidity == 'clouds',
      'weather-container-rain-clouds': humidity == 'rain_clouds',
      'weather-container-hard-clouds': humidity == 'hard_clouds'
    }"
  >
    <div class="weather-content" *ngIf="forecast.wind.speed">
      <div class="wind weather-image"></div>
      <div class="weather-text">Wind speed (m/s):</div>
      <div class="weather-text" id="wind">{{ forecast.wind.speed }}</div>
    </div>
    <div class="weather-content" *ngIf="forecast.main.temp">
      <div class="temperature weather-image"></div>
      <div class="weather-text">Temperature (°С):</div>
      <div class="weather-text" id="temperature">{{ forecast.main.temp }}</div>
    </div>
    <div class="weather-content" *ngIf="forecast.main.humidity">
      <div class="precipitation weather-image"></div>
      <div class="weather-text">Humidity (%):</div>
      <div class="weather-text" id="precipitation">
        {{ forecast.main.humidity }}
      </div>
    </div>
  </div>
</div>
