div, h2, .weather-text
{
  font-family: Roboto;
  font-style: normal;
}

.weather__wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: none;
  height: 1080px;
  width: 100%;
  background-image: url(../img/forecast_back_summer.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.weather__wrapper-winter
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: none;
  height: 1080px;
  width: 100%;
  background-image: url(../img/forecast_back_winter.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.weather-container
{
  margin: 100px 0px 260px 160px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 358px 358px;
  background-position: 75em;
  background-position-y: 0em;
}

.weather-container-sunny
{
  margin: 100px 0px 260px 160px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 358px 358px;
  background-position: 75em;
  background-position-y: 0em;
  background-image: url(../img/sunny.png);
}

.weather-container-sunny-clouds
{
  margin: 100px 0px 260px 160px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 635px 370px;
  background-position: 65em;
  background-position-y: 0em;
  background-image: url(../img/sunny_clouds.png);
}

.weather-container-clouds
{
  margin: 100px 0px 260px 160px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 758px 370px;
  background-position: 55em;
  background-position-y: 0em;
  background-image: url(../img/clouds.png);
}

.weather-container-rain-clouds
{
  margin: 100px 0px 260px 160px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 635px 385px;
  background-position: 65em;
  background-position-y: 0em;
  background-image: url(../img/rain_clouds.png);
}

.weather-container-hard-clouds
{
  margin: 100px 0px 260px 160px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 635px 420px;
  background-position: 65em;
  background-position-y: 0em;
  background-image: url(../img/hard_rain.png);
}

.weather-content
{
  margin-bottom: 150px;
  display: flex;
  align-items: center;
}

.wind
{
  width: 120px;
  height: 90px;
  background: url(../img/wind.png);
}

.temperature
{
  width: 120px;
  height: 90px;
  background: url(../img/temperature.png);
}

.precipitation
{
  width: 120px;
  height: 90px;
  background: url(../img/rain.png);
}

.weather-image
{
  background-size: contain;
  background-repeat: no-repeat;
}

.weather-text
{
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #575757;
}

#temperature, #precipitation, #wind
{
  margin-left: 3px;
  margin-top: 1px;
}

.loader-container
{
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.city-name
{
  align-self: center;
  font-size: 40px;
  line-height: 30px;
  margin-top: 40px;
  color: #575757;
}
